doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome-4.7.0/css/font-awesome.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet')
	body

		block content

		include header.pug

			svg.curved-divider(
				xmlns="http://www.w3.org/2000/svg"
				version="1.1"
				width="100%"
				height="100"
				viewBox="0 0 100 100"
				preserveAspectRatio="none")
				path(d="M0 100 C 20 0 50 0 100 100 Z")

		include experience.pug
		include projects.pug


		script(
			src='/javascripts/typed.js')
		script.
			var options = {
			strings: ['Computer Science'],
			typeSpeed: 35,
			backSpeed: 40,
			backDelay: 1200,
			startDelay: 500,
			loop: false,
			smartBackspace: true,
			};
			var typed = new Typed('#typed', options);
